

.calendar-wrapper{
    max-width: 1000px;
    margin: auto;
    min-width: 24%;
    padding: 2%;
}
.link-style{
    background-color: brown;
    border-radius: 5%;
    padding: 5%;
    max-width: 90%;
    margin: 5px;

}
.link-style a{
    color: white;
}

.b-container{
    min-width: 24%;
    min-height: 250px;
    padding: 2%;
}
.b-size{
    min-width: 90%;
    margin: 5px;
    min-height: 200px;
}

.btn-bgr-number-1{
    min-width: 92%;
    padding: 5%;
    margin: 5px;
    min-height: 200px;
    background: no-repeat center url("https://res.cloudinary.com/woelkchen/image/upload/v1555077415/testerimages/16.png");
    background-size: contain;
}

.btn-bgr-number-2{
    min-width: 40%;
    margin: 5px;
    min-height: 200px;
    background: no-repeat center url("https://www.frankfurt-tourismus.de/extension/portal-frankfurt/var/storage/images/media/bibliothek/feste/frankfurter-weihnachtsmarkt-baum-justitia-imbiss/871577-1-ger-DE/Frankfurter-Weihnachtsmarkt-Baum-Justitia-Imbiss_front_magnific.jpg");
    background-size: contain;
}

.btn-bgr-number-3{
    min-width: 40%;
    margin: 5px;
    min-height: 200px;
    background: no-repeat center url("https://res.cloudinary.com/woelkchen/image/upload/v1555077415/testerimages/16.png");
    background-size: contain;
}

.btn-bgr-number-16{
    min-width: 40%;
    margin: 5px;
    min-height: 200px;
    background: no-repeat center url("https://res.cloudinary.com/woelkchen/image/upload/v1555077415/testerimages/16.png");
    background-size: contain;
}
